{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
    {% endblock css %}
    {% block extra_css %}
    {% endblock extra_css %}
</head>

<body>
    {% block nav %} {% endblock nav %}

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    {% block js %}
    {% endblock js %}
    {% block extra_js %}
    {% endblock extra_js %}

</body>

</html>
